*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
tmp/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# CMake Generated
darknet-configure
darknet-done
darknet-download
darknet-install
darknet-mkdir
darknet-patch
darknet-update

# Output build files
*.a
*.so

# Giant weights file
yolov3.weights
